<template>
  <input
    id="FileUploader"
    type="file"
    class="file-input"
    @change="FileUploaderChange"
  />
</template>

<script>
// IMPORT LIBRARIES LIBRARIES
import { mapGetters, mapMutations } from 'vuex'

// COMPONENT DATA
function ComponentData() {
  return {
    show: false,
  }
}

// COMPONENT METHODS
async function FileUploaderChange(event) {
  const data = new FormData()
  data.append('file', event.target.files[0])
  let file = null
  this.SetLoading(true)
  try {
    const response = await this.$axios.post('/file', data, {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
    })
    file = response.data
  } catch (error) {
    this.SetNotification({
      show: true,
      message: 'Ha ocurrido un error por favor intente de nuevo',
      type: 'error',
    })
  }
  const input = document.getElementById('FileUploader')
  input.value = ''
  await this.SetLoading(false)
  this.SetFileUploader({
    show: false,
    file,
  })
}

// COMPONENT WATCHERS
function ShowWatcher() {
  if (this.uploader.show) {
    const FileUploader = document.getElementById('FileUploader')
    FileUploader.click()
  }
}

// COMPONENT DEFINITION
export default {
  name: 'FileUploader',
  data() {
    return ComponentData()
  },
  computed: {
    ...mapGetters('system', {
      uploader: 'GetFileUploader',
    }),
  },
  watch: {
    'uploader.show': ShowWatcher,
  },
  methods: {
    FileUploaderChange,
    ...mapMutations('system', [
      'SetLoading',
      'SetNotification',
      'SetFileUploader',
    ]),
  },
}
</script>

<style scoped>
.file-input {
  position: fixed;
  top: -5000px;
  left: -5000px;
  opacity: 0;
  z-index: -1;
}
</style>
