<template>
  <v-overlay :opacity="0.2" :value="loading">
    <v-progress-circular color="teal" indeterminate size="64" />
  </v-overlay>
</template>

<script>
// IMPORT LIBRARIES
import { mapGetters } from 'vuex'

// COMPONENT DEFINITION
export default {
  name: 'Loading',
  computed: {
    ...mapGetters('system', {
      loading: 'GetLoading',
    }),
  },
}
</script>
