<template>
  <div>
    <v-navigation-drawer v-model="drawer" class="px-4 pt-3" app clipped>
      <v-list>
        <v-list-item to="/create">
          <v-list-item-icon>
            <v-icon>note_add</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Radicar Solicitud</v-list-item-title>
        </v-list-item>
        <v-list-item to="/consult">
          <v-list-item-icon>
            <v-icon>visibility</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Consultar Trámite</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar color="primary" app dark clipped-left>
      <p class="bar-title">Evolution XP Test</p>
    </v-app-bar>
  </div>
</template>

<script>
// COMPONENT DATA
function ComponentData() {
  return {
    drawer: null,
  }
}

// COMPONENT DEFINITION
export default {
  name: 'NavigationBar',
  data() {
    return ComponentData()
  },
}
</script>

<style scoped>
.bar-title {
  margin: 0;
  font-size: 1.3em;
}
</style>
