<template>
  <v-snackbar v-model="show" :color="GetNotificationColor()" bottom>
    {{ notification.message }}
    <template #action="{ attrs }">
      <v-btn color="white" text icon v-bind="attrs" @click="CloseNotification">
        <v-icon>close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
// IMMPORT LIBRARIES
import { mapGetters, mapMutations } from 'vuex'

// COMPONENT DATA
function ComponentData() {
  return {
    show: false,
  }
}

// COMPONENT METHODS
function CloseNotification() {
  this.show = false
  this.SetNotification({
    show: false,
    message: '',
    type: '',
  })
}

function GetNotificationColor() {
  let color = ''
  if (this.notification.type === 'error') {
    color = 'red darken-3'
  } else if (this.notification.type === 'warning') {
    color = 'yellow darken-3'
  } else if (this.notification.type === 'info') {
    color = 'blue darken-3'
  } else if (this.notification.type === 'success') {
    color = 'green darken-3'
  }
  return color
}

// COMPONENT WATCHERS
function NotificationShowWatcher() {
  if (this.notification.show) {
    this.show = true
  }
}

function ShowWatcher() {
  if (!this.show) {
    this.SetNotification({
      show: false,
      message: '',
      type: '',
    })
  }
}

// COMPONENT DEFINITION
export default {
  name: 'Notification',
  data() {
    return ComponentData()
  },
  computed: {
    ...mapGetters('system', {
      notification: 'GetNotification',
    }),
  },
  watch: {
    'notification.show': NotificationShowWatcher,
    show: ShowWatcher,
  },
  methods: {
    CloseNotification,
    GetNotificationColor,
    ...mapMutations('system', ['SetNotification']),
  },
}
</script>
