<template>
  <div>
    <v-card class="px-5">
      <v-row>
        <v-col class="mb-0" cols="12">
          <div class="card-title">
            <p class="teal--text">Consultar Tramites</p>
          </div>
          <v-divider class="mt-2" />
        </v-col>
        <v-col cols="12">
          <v-form ref="SearchForm" @submit="FormSubmit">
            <v-row>
              <v-col class="pb-0" cols="12" md="4" lg="2">
                <v-text-field
                  v-model="form.email"
                  label="Correo Electrónico"
                  outlined
                />
              </v-col>
              <v-col class="pb-0" cols="12" md="4" lg="2">
                <v-text-field
                  v-model="form.cellphone"
                  label="Teléfono Celular"
                  outlined
                />
              </v-col>
              <v-col class="pb-0" cols="12" md="4" lg="2">
                <v-text-field
                  v-model="form.pin"
                  :rules="rules.pin"
                  type="number"
                  label="PIN"
                  outlined
                />
              </v-col>
              <v-col class="pt-0 mb-1 justify-center" cols="12">
                <v-btn
                  class="mr-5"
                  color="primary"
                  outlined
                  dark
                  @click="RestorePIN"
                >
                  <v-icon class="mr-1">restore</v-icon>
                  Recuperar PIN
                </v-btn>
                <v-btn
                  class="mr-5"
                  color="primary"
                  outlined
                  dark
                  @click="CleanAll"
                >
                  <v-icon class="mr-1">clear_all</v-icon>
                  Nueva Consulta
                </v-btn>
                <v-btn color="primary" type="submit" dark>
                  <v-icon class="mr-1">search</v-icon>
                  Consultar
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-col>
      </v-row>
    </v-card>
    <v-card class="px-5 mt-12">
      <v-row>
        <v-col class="mb-0" cols="12">
          <div class="card-title">
            <p class="teal--text">Resultados</p>
          </div>
          <v-divider class="mt-2" />
        </v-col>
        <v-col class="pt-0" cols="12">
          <v-data-table
            :headers="headers"
            :items="requests"
            :items-per-page="5"
            @click:row="OpenTimeLine"
          />
        </v-col>
      </v-row>
    </v-card>
    <v-dialog v-model="timeline" width="800">
      <v-card class="px-4">
        <v-col class="mb-0" cols="12">
          <div class="card-title">
            <p class="teal--text">Proceso de Solicitud</p>
          </div>
          <v-divider class="mt-2" />
        </v-col>
        <v-col cols="12">
          <v-timeline>
            <v-timeline-item v-for="(comment, i) in current.comments" :key="i">
              <span slot="opposite">
                {{ FormatDate(comment.date) }}
              </span>
              <v-card class="elevation-2">
                <v-card-title class="text-h5">
                  {{ comment.fullname }}
                </v-card-title>
                <v-card-text>
                  {{ comment.status }}
                </v-card-text>
                <v-card-text>
                  {{ comment.description }}
                </v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-col>
        <v-col cols="12" class="pt-5 pb-7 justify-center">
          <v-btn color="primary" @click="DownloadFile">
            <v-icon class="mr-1">download</v-icon>
            Descargar Adjuntos
          </v-btn>
        </v-col>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
// IMPORT LIBRARIES
import { mapMutations } from 'vuex'
import moment from 'moment'

// IMPORT HELPERS
import { RequiredField } from '@/helpers/validations'

// COMPONENT DATA
function ComponentData() {
  return {
    timeline: false,
    restorePin: {
      show: false,
    },
    current: {},
    rules: {
      pin: [],
    },
    form: {
      email: '',
      cellphone: '',
      pin: '',
    },
    requests: [],
    headers: [
      {
        text: 'Consecutivo',
        align: 'start',
        sortable: true,
        value: 'consecutive',
      },
      {
        text: 'Fecha',
        align: 'start',
        sortable: true,
        value: 'createdDate',
      },
      {
        text: 'Tipo Solicitud',
        align: 'start',
        sortable: true,
        value: 'type',
      },
      {
        text: 'Estado',
        align: 'start',
        sortable: true,
        value: 'status',
      },
      {
        text: 'Usuario',
        align: 'start',
        sortable: true,
        value: 'fullname',
      },
      {
        text: '',
        align: 'start',
        sortable: false,
        value: 'actions',
      },
    ],
  }
}

// COMPONENT LYFECICLE METHODS
function Mounted() {
  this.SetFormRules()
}

// COMPONENT METHODS
function SetFormRules() {
  this.rules.pin = [RequiredField()]
}

function FormSubmit(e) {
  e.preventDefault()
  if (this.$refs.SearchForm.validate() && this.ValidateFields()) {
    this.FetchRequests()
  }
}

function CleanAll() {
  this.$refs.SearchForm.reset()
  this.requests = []
  this.form = {
    email: '',
    cellphone: '',
    pin: '',
  }
}

function ValidateFields() {
  let valid = true
  if (this.form.email === '' && this.form.cellphone === '') {
    valid = false
    this.SetNotification({
      show: true,
      message: 'Por favor ingresa el correo electrónico o el teléfono celular',
      type: 'error',
    })
  }
  return valid
}

async function FetchRequests() {
  try {
    await this.SetLoading(true)
    const response = await this.$axios.get('/request', {
      params: {
        ...this.form,
      },
    })
    await this.SetLoading(false)
    const requests = [...response.data]
    requests.forEach((request) => {
      request.createdDate = moment(request.createdDate).format(
        'DD/MM/YYYY hh:mm A'
      )
    })
    this.requests = requests
  } catch (error) {
    this.SetLoading(false)
    let message = 'Ha ocurrido un error por favor intenta de nuevo'
    if (error.response.status === 403) {
      this.CleanAll()
      message =
        'Tu PIN ha expirado, por favor ingresa tu correo y vuelve a generar el PIN'
    }
    this.SetNotification({
      show: true,
      type: 'error',
      message,
    })
  }
}

function OpenTimeLine(row) {
  this.current = row
  this.timeline = true
}

function FormatDate(date) {
  return moment(date).format('DD/MM/YYYY')
}

async function DownloadFile() {
  const file = await this.$axios.get(`/file/${this.current.file}`)
  const blob = new Blob([file.data], { type: 'application/pdf' })
  const objectUrl = URL.createObjectURL(blob)
  window.open(objectUrl)
}

async function RestorePIN() {
  if (this.ValidateFields()) {
    try {
      await this.SetLoading(true)
      const response = await this.$axios.put('pin', this.form)
      this.SetNotification({
        show: true,
        type: 'info',
        message: `Tu PIN fue creado nuevamente: ${response.data}`,
      })
      await this.SetLoading(false)
    } catch (error) {
      this.SetNotification({
        show: true,
        type: 'error',
        message: 'Ha ocurrido un error por favor intenta de nuevo',
      })
    }
  }
}

// COMPONENT DEFINITION
export default {
  name: 'SearchCard',
  data() {
    return ComponentData()
  },
  mounted: Mounted,
  methods: {
    SetFormRules,
    FormSubmit,
    FetchRequests,
    ValidateFields,
    OpenTimeLine,
    FormatDate,
    DownloadFile,
    RestorePIN,
    CleanAll,
    ...mapMutations('system', ['SetLoading', 'SetNotification']),
  },
}
</script>
