body, .v-application {
  background-color: #FAFAFA !important;
}

.card-title p {
  margin: 0 !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}
