<template>
  <div>
    <v-card class="px-5">
      <v-row>
        <v-col cols="12">
          <div class="card-title">
            <p class="teal--text">Nueva Solicitud</p>
          </div>
          <v-divider class="mt-2" />
        </v-col>
        <v-col cols="12">
          <v-form ref="CreateForm" @submit="FormSubmit">
            <v-row>
              <v-col class="pb-0" cols="12" md="4" lg="2">
                <v-text-field
                  v-model="form.fullname"
                  label="Nombre Completo"
                  :rules="rules.fullname"
                  outlined
                />
              </v-col>
              <v-col class="pb-0" cols="12" md="4" lg="2">
                <v-text-field
                  v-model="form.email"
                  label="Correo Electrónico"
                  :rules="rules.email"
                  outlined
                />
              </v-col>
              <v-col class="pb-0" cols="12" md="4" lg="2">
                <v-text-field
                  v-model="form.cellphone"
                  label="Teléfono Celular"
                  :rules="rules.cellphone"
                  outlined
                />
              </v-col>
              <v-col class="pb-0" cols="12" md="4" lg="2">
                <v-select
                  v-model="form.type"
                  label="Tipo Solicitud"
                  :rules="rules.type"
                  :items="items"
                  outlined
                />
              </v-col>
              <v-col class="pb-0" cols="12">
                <v-textarea
                  v-model="form.description"
                  label="Descripción"
                  :rules="rules.description"
                  outlined
                />
              </v-col>
              <v-col cols="6" class="pt-0 mb-2">
                <v-btn color="primary" outlined dark @click="OpenFileUploader">
                  <v-icon class="mr-1">attach_file</v-icon>
                  Adjuntar
                </v-btn>
              </v-col>
              <v-col cols="6" class="pt-0 mb-2 justify-end">
                <v-btn color="red" class="mr-4" to="/" outlined>Cancelar</v-btn>
                <v-btn color="primary" type="submit" dark>
                  <v-icon class="mr-1">add</v-icon>
                  Crear
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
// IMPORT LIBRARIES
import { mapMutations, mapGetters } from 'vuex'

// IMPORT HELPERS
import { RequiredField, EmailField } from '@/helpers/validations'

// COMPONENT DATA
function ComponentData() {
  return {
    items: ['Petición', 'Queja', 'Reclamo', 'Sugerencia'],
    rules: {
      fullname: [],
      email: [],
      cellphone: [],
      description: [],
      type: [],
    },
    form: {
      fullname: '',
      email: '',
      cellphone: '',
      description: '',
      type: '',
      file: '',
    },
  }
}

// COMPONENT LYFECICLE METHODS
function Mounted() {
  this.SetFormRules()
}

// COMPONENT METHODS
function SetFormRules() {
  this.rules.fullname = [RequiredField()]
  this.rules.email = [RequiredField(), EmailField()]
  this.rules.cellphone = [RequiredField()]
  this.rules.description = [RequiredField()]
  this.rules.type = [RequiredField()]
}

function FormSubmit(e) {
  e.preventDefault()
  if (this.$refs.CreateForm.validate()) {
    this.CreateRequest()
  }
}

async function CreateRequest() {
  try {
    await this.SetLoading(true)
    const response = await this.$axios.post('/request', this.form)
    this.ClearForm()
    await this.SetLoading(false)
    this.SetNotification({
      show: true,
      type: 'success',
      message: `Su solicitud se ha creado con éxito, se ha generado el siguiente PIN: ${response.data.pin}`,
    })
  } catch (error) {
    this.SetNotification({
      show: true,
      message: `Ha ocurrido un error, por favor intente de nuevo`,
      type: 'error',
    })
  }
}

function ClearForm() {
  this.$refs.CreateForm.reset()
  this.form = {
    fullname: '',
    email: '',
    cellphone: '',
    description: '',
    type: '',
    file: '',
  }
}

function OpenFileUploader() {
  this.SetFileUploader({
    show: true,
  })
}

// COMPONENT WATCHERS
function UploaderShowWatcher() {
  this.form.file = this.uploader.file
}

// COMPONENT DEFINITION
export default {
  name: 'CreateForm',
  data() {
    return ComponentData()
  },
  computed: {
    ...mapGetters('system', {
      uploader: 'GetFileUploader',
    }),
  },
  watch: {
    'uploader.show': UploaderShowWatcher,
  },
  mounted: Mounted,
  methods: {
    SetFormRules,
    FormSubmit,
    CreateRequest,
    ClearForm,
    OpenFileUploader,
    ...mapMutations('system', [
      'SetLoading',
      'SetNotification',
      'SetFileUploader',
    ]),
  },
}
</script>
