<template>
  <v-app>
    <loading />
    <notification />
    <navigation-bar />
    <file-uploader />
    <v-main>
      <v-container class="pt-9">
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
// IMPORT COMPONENTS
import Loading from '@/components/layout/Loading'
import Notification from '@/components/layout/Notification'
import NavigationBar from '@/components/layout/NavigationBar'
import FileUploader from '@/components/layout/FileUploader'

// COMPONENT DEFINITION
export default {
  name: 'DefaultLayout',
  components: {
    Loading,
    Notification,
    NavigationBar,
    FileUploader,
  },
}
</script>
