<template>
  <v-app>
    <p>Error</p>
    <NuxtLink to="/"> Home page </NuxtLink>
  </v-app>
</template>

<script>
// COMPONENT DEFINITION
export default {
  name: 'ErrorLayout',
  layout: 'empty',
}
</script>
