<template>
  <div>
    <search-card />
  </div>
</template>

<script>
// IMPORT COMPONENTS
import SearchCard from '@/components/consult/SearchCard'

// COMPONENT DEFINITION
export default {
  name: 'ConsultPage',
  components: {
    SearchCard,
  },
}
</script>
