<template>
  <div>
    <create-form />
  </div>
</template>

<script>
// IMPORT COMPONENTS
import CreateForm from '@/components/create/CreateForm'

// COMPONENT DEFINITION
export default {
  name: 'HomePage',
  components: {
    CreateForm,
  },
}
</script>
